html, body{
    height : 100%;
    margin: 0;

    background-color: antiquewhite;
}

#container {
    height:100%;
    display:flex;  
    justify-content: center; /*h */
    align-items: center; /*v */
    
}

#grid-container{
    text-align: center;
}


.box {
    width: 6%;
    margin-right: 10px;
    border: 10px groove brown;
    border-radius: 10px;

    font-size: 70px;
    font-weight: 900;
    color: brown;
    text-align: center;

    background-color: beige;
    cursor:pointer;
} 

#turn-indicator-container {
    font-size: 20px;
    font-weight: 600;
    color: brown;
    margin-top: 28px;
}

#turn-indicator {
    font-size: 30px;
    font-weight: 600;
    color: brown;
}

#undo {
    background-color: brown;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#reset {
    background-color: brown;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
#bt {
    width: 5%;
    margin-right: px;
    border: 8px groove brown;
    border-radius: 8px;
    font-size: 50px;
    font-weight: 500;
    color: brown;
    text-align: center;
    background-color: beige;
    cursor:pointer;
}
#go-back-to-turn {
    font-size: 25px;
    font-weight: 600;
    color: brown;
    margin-top: 28px;
}

#gobackturn {
    font-size: 25px;
    font-weight: 600;
    color: brown;
    margin-top: 28px;
}





